.form {
  background-color: #F8F8F8;
}

.form__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 293px;
  padding: 56px 0 56px;
}

.form__inner-info {
  max-width: 490px;
}

.form__inner-title {
  margin-bottom: 23px;
  color: #1E1E1C;
  font-size: 42px;
  font-weight: 500;
  padding-top: 34px;
}

.form__inner-text {
  color: #1E1E1C;
  font-size: 22px;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 50px;
}
.form__inner-text span {
  color: #27AE60;
  font-size: 28px;
  font-weight: 400;
  line-height: 140%;
}

.form__inner-btn {
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  padding: 20px 36px;
  background-color: #27AE60;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.form__inner-btn:hover {
  opacity: 0.85;
}

.form__inner-form {
  width: 686px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 40px 0px rgba(7, 17, 51, 0.07);
  padding: 45px 45px 30px 45px;
}
.form__inner-form form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__inner-form form::before {
  content: "";
  position: absolute;
  top: -101px;
  left: 50%;
  width: 318px;
  height: 56px;
  background-color: #27AE60;
  transform: translateX(-50%);
}
.form__inner-form form::after {
  content: "";
  position: absolute;
  bottom: -86px;
  left: 50%;
  width: 318px;
  height: 56px;
  background-color: #27AE60;
  transform: translateX(-50%);
}
.form__inner-form input {
  padding: 23px 30px;
  border-radius: 6px;
  border: 1px solid #DDD;
}
.form__inner-form input:focus {
  outline: none;
}
.form__inner-form textarea {
  padding: 23px 30px;
  border-radius: 6px;
  border: 1px solid #DDD;
  margin-bottom: 40px;
  resize: none;
  height: 172px;
}
.form__inner-form textarea:focus {
  outline: none;
}
.form__inner-form a {
  color: #181A28;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
}

@media (max-width: 1300px) {
  .form__inner {
    gap: 150px;
  }
}
@media (max-width: 1000px) {
  .form__inner {
    gap: 80px;
  }
}
@media (max-width: 900px) {
  .form__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .form__inner-form form::before {
    display: none;
  }
  .form__inner-form form::after {
    display: none;
  }
  .form__inner-btn {
    display: none;
  }
}
@media (max-width: 710px) {
  .form__inner-form {
    width: 500px;
  }
}
@media (max-width: 514px) {
  .form {
    background-color: #fff;
  }
  .form__inner {
    padding: 60px 0 0 0;
    margin-bottom: 60px;
  }
  .form__inner-form {
    width: 365px;
    height: 326px;
    padding: 20px 15px;
  }
  .form__inner-form form {
    font-size: 14px;
  }
  .form__inner-form form input {
    padding: 15px 0 15px 15px;
  }
  .form__inner-form form textarea {
    padding: 15px;
    height: 98px;
    margin-bottom: 0;
  }
  .form__inner-form form a {
    text-align: center;
  }
  .form__inner-title {
    padding-top: 0;
    font-size: 24px;
    margin-bottom: 23px;
  }
  .form__inner-text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .form__inner-text span {
    font-size: 16px;
  }
  .mb {
    margin-bottom: 8px;
  }
}/*# sourceMappingURL=sec-form.css.map */